@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
@import url('https://raw.githubusercontent.com/alsacreations/KNACSS/master/css/knacss.css');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

$color-main: #3B7080;

body {
  font-family: "Droid Serif", Times, serif;
  font-size: 20px;
  color: #555;
  background: #fff;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, sans-serif;
  color: $color-main;
}

strong, em, code {
  color: $color-main;
}



.container {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper {
  margin: 0;
  padding: 0;
  &.blue {
    background: #3B7080;
    color: white;
    text-shadow: 0 0 .5em rgba(0,0,0,.2)
  }
}

header {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1, h2, h3 { margin: 0; padding: 0; text-align: center; color: white}
  .title { font-size: 4em;}
  .author { font-weight: 100; color: rgba(255,255,255,.5); }
  .centered {

  }
}
.article-footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  .level1 h1 { font-size: 3em }
  .level2 h1 { font-size: 1.6em }
}

pre {
  border-left: 4px #CCC solid;
  box-shadow: 0 0 1em rgba(0,0,0,.1);
  background: white;
  .hljs {
    background: white;
  }
}
